
*.vhd

*.xmsgs

*.cmd

*.xwbt

*.tcl

*.mif

*.xsl

*.ncf

*.ngc

*.sym

*.prj

*.bat

*.sh

*.key

*.sv

*.do

*.html

*.xreport

*.ncd

*.gise

*.xml

*.lso

*.projectmgr

*.log

*.scr

*/ipcore_dir/
Lab1/ipcore_dir/ROM/
Lab1/ipcore_dir/ROM/example_design/
Lab1/ipcore_dir/ROM/example_design/ROM_exdes.ucf
Lab2/ipcore_dir/ROM/
Lab2/ipcore_dir/ROM/example_design/
*/isim/
*.xdc
Lab1/xst/
Lab2/xst
*.xise

*.veo

*.xco

Lab1/ipcore_dir/Inst_ROM/example_design/Inst_ROM_exdes.ucf

Lab1/ipcore_dir/ROM_flist.txt

Lab1/ipcore_dir/ROM.asy

Lab1/ipcore_dir/ROM.v

Lab1/ipcore_dir/ROM/blk_mem_gen_v7_3_readme.txt

*.swp

*.swp

.gitignore.swp

*.exe

*.wdb

*.ini

*.map

*.mrp

*.ngm

*.xrpt

*.csv

Lab1/mips_top_pad.txt

*.bgn

*.cmd_log

*.drc

*.ngr

*.pad

*.par

*.stx

*.syr

*.twr

*.twx

*.unroutes

*.ut

*.xpi

*.xst

*.bld

*.ngd

*.pcf

*.ptwx

*.xbcd

*.lst
